body {
  	font-family: 'Titillium Web', sans-serif;
  	font-size: 1.250em;
  	margin: 0;
  	padding: 0;
  	color: #fff;
  	background-color: black;
  	background-image: url(../images/backgrounds/background.jpg);
  	background-repeat: no-repeat;
  	background-size: 100% auto;
  	background-position: center center;
  	background-attachment: fixed;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.wraparound {
	min-height: 100%;
	position: relative;
}

.intro-body {
	background-image: url(../images/backgrounds/berkeley-background-new.jpg);
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.course-info-body {
	background-image:  url(../images/backgrounds/berkeley-sunset-background.jpg);
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.general-info-body {
	background-image:  url(../images/backgrounds/berkeley-sunset-background.jpg);
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.dl-rules-body {
	background-image:  url(../images/backgrounds/berkeley-sunset-background.jpg);
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.results-body {
  	background-image: url(../images/backgrounds/berkeley-home-background.jpg);	
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.register-body {
  	background-image: url(../images/backgrounds/berkeley-home-background.jpg);	
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.volunteer-body {
  	background-image: url(../images/backgrounds/volunteer_background.jpg);	
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.contact-body {
	background-image: none;
	background-color: black;
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.sponsor-body {
	background-image: url(../images/backgrounds/sponsor-background.jpg);
}

* {
	z-index: 9999;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	font-size: 0.9em;
	padding: 0 40px;
}

h1 {
	font-size: 1.3em;
	padding: 0 10px;
}

h2 {
	font-size: 1em;
	padding: 0 40px;
}

header {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-top: 7px #003a70 solid;
	z-index: 9999;
}


#cal-tri-logo {
	max-height: 100%;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

nav {
	text-align: center;
	padding: 10px 0 0;
	margin: 40px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

nav li:hover, nav a:hover {
	cursor: pointer;
	color: #ccc;
}

#gen-nav-title {
	font-size: 1em;
}

.gen-nav-elem {
	font-size: 0.85em;
}

#gen-nav li:hover, .gen-nav a:hover {
	cursor: pointer;
	color: #ccc;	
}


#intro-container {
	text-align: center;
	font-size: 2em;
	padding-top: 400px;
}

#intro{ 
	width: 50%;
	padding: 20px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.8);
	border: 7px #003a70 solid;
	color: #0099FF;
}

.modal-view {
	display: block;
	clear: both;
	width: 100%;
	min-height: 50%;
	padding-bottom: 100px;
	display: none;
}

#index-modal-view {
	padding-top: 20%;
}

.modal {
	width: 90%;
	margin: 0 5%;
	background-color: rgba(0, 0, 0, 0.7);
	border: 7px #003a70 solid;
}

.gen-modal {
	overflow: hidden;
}

.modal-content {
	width: 80%;
	float: right;
	margin: 0;
	padding: 0;
}

.modal-nav {
	width: 15%;
	height: 100%;
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	overflow: hidden;

}

#gen-nav {
	position: fixed;
	list-style: none;
	margin-top: 40px;
	border-right: 7px #003a70 solid;
	padding-right: 10px;
	overflow: hidden;
	display: block;
}

.mtr {
	display: none;
}

#info-navigation-container {
	height: 70px;
	width: 90%;
	background-color: #003a70;
	display: block;
	position: relative;
	margin: 0 auto 0;
	padding: 0;
}

.info-navigation {
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 15px 0 0 0;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;

}

.info-navigation:hover {
	background-color: rgba(0, 0, 0, 0.7);
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;	
}

.active-info {
	position: absolute;
	height: 100%;
	width: 50%;
	left : 0;
	background-color: #FDB515;
	display: block;
	z-index: 0;
}


#dl-navigation {
	z-index: 9999;
	position: absolute;
	border-top: 7px #003a70 solid;
	border-left: 7px #003a70 solid;
	border-bottom: 7px #003a70 solid;
}

#mtr-navigation {
	z-index: 9999;
	position: absolute;
	right: 0;
	border-top: 7px #003a70 solid;
	border-right: 7px #003a70 solid;
	border-bottom: 7px #003a70 solid;
}


.course-frame {
	width: 95%;
	overflow: hidden;
	margin-left: auto ;
  	margin-right: auto ;
}

.course-left p, .course-right p {
	padding: 0;
	overflow: hidden;
}

.courses {
	border-top: 3px white dashed; 
	padding-top: 10px;
	/*border-bottom: 3px white dashed;*/
}

.course-left {
	width: 40%;
	float: left;
	overflow: hidden;
}

.course-right {
	width: 40%;
	float: right;
	overflow: hidden;

}

.course-iframe {
	width: 90%;
	height: 400px;
	margin-left: 4%;
	margin-right: 4%;
}

iframe {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.course-image {
	width: 50%;
}

.course-txt {
	width: 40%;
	padding: 20px;
}

.mtr-txt {
	width: 90%;
	text-align: justify;
}

.gen-panel {
	width: 100%;
	overflow: hidden;
}

.gen-map {
	width: 90%;
	height: 40%;
}

.gen-left {
	width: 50%;
	float: left;

}

.gen-right {
		/*display: block;*/
	width: 50%;
	float: right;
}

#racemill {
	width: 90%;
	display: block;
	margin: 0 auto 20px;
}

#sponsors-top {
	width: 400px;
	display: block;
	margin: 0 auto;
}

#sponsors-top img {
	display: inline-block;
	margin: 0;
	padding: 0;
	max-height: 100px;
}

.sponsors-table {
	padding: 0px 0px 50px 0px;
	margin: 0 auto;
}

#contact-banner-image {
	max-width: 90%;
	margin: 20px auto 20px;
	display:block;
	border: 7px #FDB515 solid;
}

td img {
	max-height: 50px;
	max-width: 50px;
}

footer {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom:0;	
	box-sizing: border-box;
	z-index: 9999;
}

#sponsor-banner {
	width: 100%;
	padding: 5px 0 0 0;
	box-sizing: border-box;
	border-bottom: 7px #003a70 solid;
}

.sponsors-footer-table {
	table-layout: fixed;
	margin: 0 auto;
}

.sponsors-footer-table img {
	max-height: 40px;
	max-width: 40px;
}



