@media screen and (max-width: 680px) {
	#sponsors-top {
		margin: 0 auto;
		width: 200px;
	}
	
	#sponsors-top img {
		display: inline-block;
		margin: 0;
		padding: 0;
		max-height: 50px;
	}

}

@media screen and (max-width: 1100px) {

	.modal-nav {
		display: hidden;
	}

	.modal-content {
		width: 100%;
	}

}

@media screen and (min-width: 680px) {
	
	
	nav {
		float: right;
		width: 70%;
		margin-right: 2.5%;
	}
	
	.modal-view {
		top: 200px;

	}

	.modal-nav {

	}


	#cal-tri-logo {
		float: left;
		margin-left: 2.5%;
		text-align: left;
		width: 25%;
	}
	
	#cal-tri-logo img {
		max-height: 125px;
	}
	
	#intro {
		text-align: center;
		font-size: 1.5em;
		background-color: rgba(0, 0, 0, 0.8);
		border: 7px #003a70 solid;
		color: #0099FF;
	}
	
	iframe {
		width: 600px;
	}
	
	#contact-banner-image {
		width: 60%;
	}
	
	td img {
		max-height: 100px;
		max-width: 100px;
	}
	
	footer{
		position: absolute;
		bottom: 0;
	}
		
	.sponsors-footer-table tr {
		display: inline-block;
	}


		
}

@media screen and (min-width: 1024px) {
	
	#contact-modal-view {
		padding-top: 350px;
	}
	
}



